*~
*.dSYM
contour
template_matching
template_matching_with_trackbar
template_matching_json
test_images/palm_7R.jpg_marked_up.jpg
test_images/*_marked_up_*.jpg
extract_contours.dSYM
extract_contours
extract_contours_to_mosaic
compare_contours
match_with_hu_moments
TEST_COMPARE_THREE_ALGORITHMS/images/*contour.jpg'
test_images/letter_b.png_contour_0.jpg
test_images/letter_b.png_contour_1.jpg
test_images/palm_7R.jpg_method1_contour.jpg
test_contour_length